:root {
    --white-color: #FFFFFF;
    --navy-color: #2E2F42;
    --iris-color: #4D5AE5;
    --ocean-color: #404bbf;
    --cloud-color: #F4F4FD;
    --background-color: #FFFFFFFF;
        }
/*Global Styles*/
body {
    font-family: 'Roboto', sans-serif;
    color:  #434455;
    background-color:var(--background-color);
}
/*Classes*/
/*Link Clases*/
.navbar-studio {
    text-decoration: none;
}
.nav-list {
    list-style: none;

}
.list-buttons {
    list-style: none;
}
.logo-link-header {
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    color:var(--iris-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-studio {
    color: var(--navy-color);
}
.logo-link-footer {
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    color:var(--iris-color);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}
.address-links {
    text-decoration: none;
    color: var(--body-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.address-links:hover, .address-links:focus {
    color: var(--ocean-color);
}
/*Buttons*/
/*Index buttons*/
.order-service-button {
    background-color: var(--iris-color);
    color:var(--white-color);
    font-weight: 500;
    font-size: 16px;
    }
.order-service-button:hover, .order-service-button:focus{
color: var(--white-color);
}
/* Portfolio buttons*/
.all-filter-button {
    font-family: 'Roboto',sans-serif;
    background-color: var(--ocean-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.64px;
    font-family: 'Roboto';
}
.all-filter-button:hover, .all-filter-button:focus {
    color: var(--white-color);
    cursor: pointer;
}
.filters-buttons {
    background-color:var(--cloud-color);
    color: var(--iris-color);
    font-weight:500;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.64px;
}
.filter-buttons:hover, .filter-buttons:focus {
    color: var(--ocean-color);
}
.links-portfolio {
 text-decoration: none;
 color: var(--navy-color);
 font-weight: 500;
 font-size: 20px;
}
.links-portfolio:hover, .links-portfolio:focus {
    color-scheme: var(--ocean-color);
}
/* Titles Styles*/
.hero-section-title {
    background-color:var(--navy-color);
    color: var(--white-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 1.12px;
    }
    /*What are we doing */
.three-section-title {
    font-weight: 700;
    font-size: 36px;
    color:var(--navy-color);
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
} 
/* Strategy-Punctuality...*/
.section-2-titles {
    color: var(--navy-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-style: normal;
}
/*Our Team Title*/
.four-section-title {
    text-align: center;
    color: var(--navy-color);
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.our-team-names {
    color: var(--navy-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.portfolio-titles {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2px;
    letter-spacing: 0.4px;
    color: var(--navy-color);
}
/*Paragraph Syles*/
.footer-paragraph {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: var(--navy-color);
}
.section-2-index-paragraph {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.portfolio-pharagraphs {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}